@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

body {
    background-color: rgb(20, 21, 25);
}

main {
    height: 97vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
}
.card {
    width: 16rem;
    height: 16rem;
    background-color: var(--neutral-Dark-Blue);
    background: linear-gradient( rgb(32, 39, 49), rgb(26, 33, 43),rgb(22, 31, 40));

    border-radius: 20px;
}

.container {
    margin: 1.5rem;
}

.roundBtn {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    background: var(--neutral-Dark-Blue);
    color: var(--neutral-Light-Grey);
    font-family: 'Overpass', sans-serif;
    font-size:x-small;
}

h1 {
    color: var(--neutral-White);
}

p {
    color: var(--neutral-Light-Grey);
    font-size:xx-small;
}

.containerBtn {
    display: flex;
    justify-content: space-between;
}